body{
    /*font-family: 'Bitter', serif;*/
    font-family: 'Ubuntu', sans-serif;
    background: rgba(0, 0, 0, 0.9);
    /*color: rgba(34,66,179,0.9);*/
}

.bg-dark {
    /*background: rgba(255, 218, 115, 0.9) !important;*/
    background: rgba(150, 165, 171, 0.9) !important;
}

.card-orcamento{
    /*background: rgba(255, 218, 115, 0.9) !important;*/
    background: rgba(150, 165, 171, 0.9) !important;
    color: white;
    /*color: rgba(34,66,179,0.9);*/
}

.text-muted {
    color: white !important;
}

